.container {
    width: 1000px;
    margin: 0 auto;
}

header {
    background-color: #328EEF;
    height: 50px;
}

.navbar-brand {
    float: left;
    padding-top: 20px
}

.links-header {
    float: right;
    list-style: none;
}

.links-header li {
    float: left;
    padding-right: 10px;
}

.items-list {
    width: 80%;
    float: left;
}